.iAmFancy {
  background-color: #FFD700;
  border: 10px solid blue;
}

#hidden, #favorite-snacks {
  display: none;
}

.myBorder {
  border-color: blue;
  border-width: 5px;
  border-style: dotted;
}

